{% extends "base.html" %}

{% block title %}{{ term.name | title }}{% endblock title %}
{% block rss %}
{% set rss_path = "tags/" ~ term.name ~ "/atom.xml" %}
{% set feed_url = get_url(path=rss_path, trailing_slash=false) %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ feed_url }}">
{% endblock rss %}
{% block description %}Articles tagged "{{ term.name }}" on ryanjh.com.{% endblock description %}

{% block content %}
<article>
    <h1>{{ term.name | title }}</h1>
    <ul>
        {% for page in term.pages %}
        <li>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            -
            <time datetime="{{ page.date | date(format='%Y-%m-%d') }}">
                {{ page.date | date(format="%B %d, %Y") }}
            </time>
        </li>
        {% endfor %}
    </ul>
</article>
{% endblock content %}