{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="The homepage of Ryan Hendrickson's website.">
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    <article>
        <h1>Hello, I'm Ryan Hendrickson 👋</h1>
        <p><strong>I'm passionate about building maintainable, performant, and robust applications.</strong></p>
        <p>I'm a Senior Software Developer with over {{ years_of_experience }} years of experience.</p>

        <h2>About Me</h2>
        <p>I develop web applications and services using PHP, Go, and Rust, selecting the language that best fits each
            project, whether it's a distributed system, networking tool, or command-line utility. I also design and
            automate the infrastructure that supports these projects, manage CI/CD pipelines, and occasionally work on
            frontend components when needed.</p>
        <p>When I’m not working, I’m most likely doing one of the following:</p>
        <ol>
            <li>Tinkering with my homelab.</li>
            <li>Mentoring early-career software engineers/computer science students.</li>
            <li>Playing video games.</li>
            <li>Contributing to open source.</li>
        </ol>
    </article>
{% endblock %}
