# Production yml file for https://www.ryanjh.com
services:
    nginx:
        image: nginx:1.29-alpine
        container_name: nginx
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"
        volumes:
            # Nginx configs
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./nginx/sites:/etc/nginx/conf.d:ro

            # Application files (read-only for nginx)
            - ./ryanjh/public/uploads:/var/www/html/ryanjh/uploads:ro
            - asset-volume:/var/www/html/ryanjh/assets:ro
            - bundle-volume:/var/www/html/ryanjh/bundles:ro

            # Let's Encrypt certificate and challenge directories
            - /etc/letsencrypt:/etc/letsencrypt:ro
            - ./certbot/www:/var/www/certbot:ro

            # Logs
            - ./logs/nginx:/var/log/nginx

            # Nginx Cache
            - nginx-cache:/var/cache/nginx
        depends_on:
            - ryanjh
        networks:
            - app-network

    ryanjh:
        image: ghcr.io/rynhndrcksn/ryanjh:latest
        container_name: ryanjh-app
        restart: unless-stopped
        volumes:
            # Symfony cache, sessions, logs
            - ./ryanjh/var:/app/var

            # Assets
            - asset-volume:/app/public/assets
            - bundle-volume:/app/public/bundles

            # User uploads
            - ./ryanjh/public/uploads:/app/public/uploads

            # Environment config
            - ./ryanjh/.env.prod.local:/app/.env.local:ro
        depends_on:
            - postgres
        networks:
            - app-network

    postgres:
        image: postgres:18-alpine
        container_name: postgres
        restart: unless-stopped
        environment:
            POSTGRES_PASSWORD: ${PG_ADMIN_PASSWORD}
        volumes:
            - ./postgres/pg_data:/var/lib/postgresql/data
        networks:
            - app-network

networks:
    app-network:
        driver: bridge

volumes:
    asset-volume:
    bundle-volume:
    nginx-cache:
