{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="A page talking about all the mentoring experience Ryan Hendrickson has done.">
{% endblock %}

{% block title %}Mentoring{% endblock %}

{% block body %}
    <article>
        <h1>Mentoring</h1>

        <h2>Mentors in Tech (MinT)</h2>
        <p><a href="https://mentorsintech.com/" target="_blank">Mentors in Tech (MinT)</a> is a program where industry
            professionals volunteer to support students from underrepresented colleges as they get ready to start their
            tech careers. I take part as a mentor because I enjoy helping others learn and grow. My approach is open and
            friendly whether we’re talking about skills, projects, or just figuring out next steps. For me, it’s all
            about sharing real-world perspective, having honest conversations, and helping each mentee build confidence
            as they move forward.</p>

        <h2>Other Mentoring</h2>
        <p>Outside of MinT, I enjoy connecting with developers at all stages, whether you’re just starting out, gaining
            experience, or advancing into senior roles. I’m happy to chat, review resumes, answer technical questions,
            or provide feedback on projects. If you’re looking for guidance or support, feel free to reach out
            anytime.</p>
    </article>
{% endblock %}
