{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock title %}
{% block meta_description %}{{ section.description }}{% endblock meta_description %}

{% block content %}
<article>
    <h1>{{ section.title }}</h1>
    {% for page in paginator.pages %}
    <section>
        <h2><a class="link-subtle" href="{{ page.permalink }}">{{ page.title }}</a></h2>
        <p>
            <time datetime="{{ page.date | date(format='%Y-%m-%d') }}">
                {{ page.date | date(format="%B %d, %Y") }}
            </time>
            {% if page.taxonomies.tags %}
            -
            {% for tag in page.taxonomies.tags | sort %}
            <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            {% endif %}
        </p>
        {% if page.description %}
        <p>{{ page.description }}</p>
        {% endif %}
    </section>
    {% if not loop.last %}
    <hr>{% endif %}
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <nav>
        {% if paginator.previous_page %}<a href="{{ paginator.previous }}">← Newer</a>{% endif %}
        {% if paginator.next_page %}<a href="{{ paginator.next }}">Older →</a>{% endif %}
    </nav>
    {% endif %}
</article>
{% endblock content %}